{% extends 'app/base.html' %}

{% block title %}
经典案例
{% endblock %}

{% block body %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area pt-94 pb-85 bg-3 bg-opacity-dark-blue-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h2 class="text-center text-white uppercase mb-17">经典案例</h2>

                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center m-0">
                            <li class="text-white uppercase ml-15 mr-15"><a href="/">主页</a></li>
                            <li class="text-white uppercase ml-15 mr-15">经典案例</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Start of Blog Area-->
<div class="blog-area pt-120 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-posts">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="single-blog hover-effect">
                                <div class="blog-image box-hover">
                                    <a href="/blog/" class="block">
                                        <img src="/static/images/blog/out_out6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <div class="blog-date pt-12">
                                        <span class="text-large block text-white">25</span>
                                        <span class="uppercase block text-white">2016/09</span>
                                    </div>
                                    <!--<div class="blog-post-info">-->
                                    <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                    <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                    <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                    <!--</div>-->
                                    <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                    <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                        传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                        刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="single-sidebar-widget mb-48">
                    <div class="sidebar-widget-title">
                        <h4 class="mb-23">其他案例</h4>
                    </div>
                    <div class="recent-posts light-gray-bg">
                        <div class="recent-post-item pl-30 ptb-20">
                            <h5 class="mb-6"><a href="/blog/">《长城》张艺谋执导首部英语电影和3D电影</a></h5>
                            <span class="block"><i class="zmdi zmdi-calendar-check mr-10"></i>20 Jun 2015</span>
                        </div>
                        <div class="recent-post-item pl-30 ptb-20">
                            <h5 class="mb-6"><a href="/blog/">《长城》张艺谋执导首部英语电影和3D电影</a></h5>
                            <span class="block"><i class="zmdi zmdi-calendar-check mr-10"></i>20 Jun 2015</span>
                        </div>

                        <div class="recent-post-item pl-30 ptb-20">
                            <h5 class="mb-6"><a href="/blog/">《长城》张艺谋执导首部英语电影和3D电影</a></h5>
                            <span class="block"><i class="zmdi zmdi-calendar-check mr-10"></i>20 Jun 2015</span>
                        </div>

                        <div class="recent-post-item pl-30 ptb-20">
                            <h5 class="mb-6"><a href="/blog/">《长城》张艺谋执导首部英语电影和3D电影</a></h5>
                            <span class="block"><i class="zmdi zmdi-calendar-check mr-10"></i>20 Jun 2015</span>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--End of Blog Area-->


{% endblock %}


<!--End of Account Area-->
{% block script %}
<script src="/static/js/resume.js"></script>

{% endblock %}
