{% extends 'app/base.html' %}

{% block title %}
首页
{% endblock %}

{% block body %}

<div class="background-area no-animation fixed-bg-1 pt-110 pb-110">
    <div class="banner-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content-wrapper full-width">
                        <div class="text-content text-center">
                            <h1 class="title1 text-uppercase text-white mb-16 text-medium">
                                        <span class="tlt block" data-in-effect="fadeInRight"
                                              data-out-effect="fadeOutRight">FilmSlate</span>
                                <span class="tlt block" data-in-effect="bounceIn"
                                      data-out-effect="bounceOut">专业的电影人才库</span>
                            </h1>

                            <p class="sub-title hidden-xs text-white" data-wow-duration="3s"
                               data-wow-delay="1s">FilmSlate 国际化的电影人才库, 一流的电影人才，多年的经验
                                <br> 为中外电影合作提供优质解决方案
                            </p>

                            <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2500ms"
                                 data-wow-delay=".1s">
                                <a class="button slider-btn" href="#explore">开始探索</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Background Area-->
<!--Start of Job Post Area-->
<div class="job-post-area ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center ">
                    <h2 class="uppercase" id="explore">最新发布</h2>

                    <div class="separator mt-35 mb-77">
                        <span><img src="/static/images/icons/1.png" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="job-post-container fix mb-70">
                    <div id="body">

                    </div>

                    <div class="text-center pt-60">
                        <a href="/candidates/" class="button large-button">查看全部</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Job Post Area -->

    <!--Start of Fun Factor Area-->
    <div class="fun-factor-area bg-1 text-center fix bg-opacity-blue-10 ptb-120">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="single-fun-factor">
                        <h3 class="pb-15 mb-23">职位</h3>

                        <h1><span class="counter">51</span></h1>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="single-fun-factor">
                        <h3 class="pb-15 mb-23">公司</h3>

                        <h1><span class="counter">13</span></h1>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="single-fun-factor">
                        <h3 class="pb-15 mb-23">成员</h3>

                        <h1><span class="counter">101</span></h1>
                    </div>
                </div>
                <!--<div class="col-md-3 col-sm-3">-->
                <!--<div class="single-fun-factor">-->
                <!--<h3 class="pb-15 mb-23">Company</h3>-->

                <!--<h1><span class="counter">1250</span></h1>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!--End of Fun Factor Area-->

    <!--Start of Blog Area-->
    <div class="blog-area ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2 class="uppercase">经典案例</h2>

                        <div class="separator mt-35 mb-77">
                            <span><img src="/static/images/icons/1.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog-carousel carousel-style-two">
                    <div class="col-xs-12">
                        <div class="single-blog hover-effect">
                            <div class="blog-image box-hover">
                                <a href="/blog/" class="block">
                                    <img src="/static/images/blog/out_out6.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-text">
                                <div class="blog-date pt-12">
                                    <span class="text-large block text-white">25</span>
                                    <span class="uppercase block text-white">2016/09</span>
                                </div>
                                <!--<div class="blog-post-info">-->
                                <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                <!--</div>-->
                                <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                    传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                    刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="single-blog hover-effect">
                            <div class="blog-image box-hover">
                                <a href="/blog/" class="block">
                                    <img src="/static/images/blog/out_out6.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-text">
                                <div class="blog-date pt-12">
                                    <span class="text-large block text-white">25</span>
                                    <span class="uppercase block text-white">2016/09</span>
                                </div>
                                <!--<div class="blog-post-info">-->
                                <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                <!--</div>-->
                                <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                    传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                    刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="single-blog hover-effect">
                            <div class="blog-image box-hover">
                                <a href="/blog/" class="block">
                                    <img src="/static/images/blog/out_out6.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-text">
                                <div class="blog-date pt-12">
                                    <span class="text-large block text-white">25</span>
                                    <span class="uppercase block text-white">2016/09</span>
                                </div>
                                <!--<div class="blog-post-info">-->
                                <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                <!--</div>-->
                                <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                    传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                    刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="single-blog hover-effect">
                            <div class="blog-image box-hover">
                                <a href="/blog/" class="block">
                                    <img src="/static/images/blog/out_out6.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-text">
                                <div class="blog-date pt-12">
                                    <span class="text-large block text-white">25</span>
                                    <span class="uppercase block text-white">2016/09</span>
                                </div>
                                <!--<div class="blog-post-info">-->
                                <!--<span class="pl-10"><i class="zmdi zmdi-account pr-8"></i>amir Khan</span>-->
                                <!--<span class="pl-35"><i class="zmdi zmdi-favorite pr-8"></i>like</span>-->
                                <!--<span class="pl-15"><i class="zmdi zmdi-comments pr-8"></i>comments</span>-->
                                <!--</div>-->
                                <h5 class="pt-28 mb-6"><a href="#">《长城》张艺谋执导首部英语电影和3D电影</a></h5>

                                <p class="mb-21">2016年美国和中国大陆合拍的史诗式历史奇幻动作片
                                    传奇影业、环球影业、中国电影股份有限公司和乐视影业等中美电影公司联合出品，投资8亿多人民币。
                                    刘德华、张涵予等华人演员与马特·达蒙、威廉·达福等美国艺人合作主演。</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--End of Blog Area-->

    <!--Testimonial Area Start-->
    <div class="testimonial-area bg-2 text-center fix bg-opacity-blue-10 ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="testimonial-carousel carousel-style-one">


                        <div class="single-testimonial">
                            <div class="testimonial-img mb-18">
                                <img src="/static/images/testimonial/head_out2.jpg" alt=""/>
                            </div>
                            <div class="testimonial-info">
                                <span class="testimonial-name uppercase text-white block">hello kitty</span>
                                <span class="testimonial-title text-white block">CTO</span>
                            </div>
                            <div class="testimonial-text pt-46">
                                <p class="text-white p-0">棒棒哒 ～～～棒棒哒棒棒哒棒棒哒棒棒哒
                                    棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒
                                    棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒
                                    棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒～～～～ 棒棒哒 ~~~~~~</p>
                            </div>
                        </div>


                        <div class="single-testimonial">
                            <div class="testimonial-img mb-18">
                                <img src="/static/images/testimonial/head_out.jpg" alt=""/>
                            </div>
                            <div class="testimonial-info">
                                <span class="testimonial-name uppercase text-white block">无脸男</span>
                                <span class="testimonial-title text-white block">CEO</span>
                            </div>
                            <div class="testimonial-text pt-46">
                                <p class="text-white p-0">棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒
                                    哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒
                                    棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒棒棒哒</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Testimonial Area-->

    <!--Start of Social Link Area-->


    {% endblock %}

    {% block script %}

    <script src="/static/js/app/index.js"></script>


    {% endblock %}

